// 0. Path.
$assets: '../img';

// 1. Colors.
$black:#000;
$white:#fff;

// 2. Custom colors
$color-blue:#163962;
$color-blue-dark:#00245d;
$color-blue-link:#1a4068;

$color-heading:#001348;
$color-text:#000000;
$color-link:#191818;

$color-gray-bg:#f3f3f3;

// 2. Sizes
$base-size:16px;